ML nodered integration.json
[{"id":"1ce4f3fc.835cec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cb1bdc7.729882","type":"ui_form","z":"1ce4f3fc.835cec","name":"","label":"Enter details to Predict life span expectancy","group":"51cffeb1.e74f6","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"A","type":"text","required":false,"rows":null},{"label":"Year","value":"B","type":"number","required":false,"rows":null},{"label":"Status","value":"C","type":"text","required":false,"rows":null},{"label":"Adult mortality","value":"D","type":"number","required":false,"rows":null},{"label":"Infant deaths","value":"e","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"F","type":"number","required":false,"rows":null},{"label":"Percentage expenditure","value":"G","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"H","type":"number","required":false,"rows":null},{"label":"Measles","value":"I","type":"number","required":false,"rows":null},{"label":"BMI","value":"J","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"K","type":"number","required":false,"rows":null},{"label":"Polio","value":"L","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"M","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"N","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"O","type":"number","required":false,"rows":null},{"label":"GDP","value":"P","type":"number","required":false,"rows":null},{"label":"Population","value":"Q","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"R","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"S","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"T","type":"number","required":false,"rows":null},{"label":"Schooling","value":"U","type":"number","required":false,"rows":null}],"formValue":{"A":"","B":"","C":"","D":"","e":"","F":"","G":"","H":"","I":"","J":"","K":"","L":"","M":"","N":"","O":"","P":"","Q":"","R":"","S":"","T":"","U":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":35,"y":560,"wires":[["55ecdac8.c21954"]],"l":false},{"id":"2f015d3c.035f12","type":"inject","z":"1ce4f3fc.835cec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.77011013031006,"y":356.96476554870605,"wires":[["55ecdac8.c21954"]],"l":false},{"id":"1ee19c1b.8408c4","type":"debug","z":"1ce4f3fc.835cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":277.36659049987793,"y":589.5923728942871,"wires":[],"l":false},{"id":"55ecdac8.c21954","type":"function","z":"1ce4f3fc.835cec","name":"Pretoken","func":"global.set(\"A\",msg.payload.A);\nglobal.set(\"B\",msg.payload.B);\nglobal.set(\"C\",msg.payload.C);\nglobal.set(\"D\",msg.payload.D);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"F\",msg.payload.F);\nglobal.set(\"G\",msg.payload.G);\nglobal.set(\"H\",msg.payload.H);\nglobal.set(\"I\",msg.payload.I);\nglobal.set(\"J\",msg.payload.J);\nglobal.set(\"K\",msg.payload.K);\nglobal.set(\"L\",msg.payload.L);\nglobal.set(\"M\",msg.payload.M);\nglobal.set(\"N\",msg.payload.N);\nglobal.set(\"O\",msg.payload.O);\nglobal.set(\"P\",msg.payload.P);\nglobal.set(\"Q\",msg.payload.Q);\nglobal.set(\"R\",msg.payload.R);\nglobal.set(\"S\",msg.payload.S);\nglobal.set(\"T\",msg.payload.T);\nglobal.set(\"U\",msg.payload.U);\nvar apikey=\"QLsm73MwnkNaVnMQfHq7IKdT48sYN2NLFPgMv9g9ykfG\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":181.62714862823486,"y":457.81164169311523,"wires":[["1ee19c1b.8408c4","1faa746d.0d9d9c"]]},{"id":"7c501e6f.3eaa3","type":"debug","z":"1ce4f3fc.835cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":488.677734375,"y":253.2630786895752,"wires":[],"l":false},{"id":"1faa746d.0d9d9c","type":"http request","z":"1ce4f3fc.835cec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":340,"wires":[["7c501e6f.3eaa3","9a4bff66.acf09"]]},{"id":"41163246.97bd3c","type":"debug","z":"1ce4f3fc.835cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":702.3330612182617,"y":606.3300657272339,"wires":[],"l":false},{"id":"e28afb78.8a9938","type":"http request","z":"1ce4f3fc.835cec","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/cae535b0-caa5-4d2d-b6f8-b3343d6f9d30/predictions","tls":"","persist":false,"proxy":"","authType":"","x":648.1602630615234,"y":465.2831630706787,"wires":[["41163246.97bd3c","bcfabfda.ead27"]],"l":false},{"id":"cbe28ed1.3049a","type":"debug","z":"1ce4f3fc.835cec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":911.9239711761475,"y":567.0138473510742,"wires":[],"l":false},{"id":"9a4bff66.acf09","type":"function","z":"1ce4f3fc.835cec","name":"Pre Prediction","func":"var A = global.get('A');\nvar B = global.get('B');\nvar C = global.get('C');\nvar D = global.get('D');\nvar e = global.get('e');\nvar F = global.get('F');\nvar G = global.get('G');\nvar H = global.get('H');\nvar I = global.get('I');\nvar J = global.get('J');\nvar K = global.get('K');\nvar L = global.get('L');\nvar M = global.get('M');\nvar N = global.get('N');\nvar O = global.get('O');\nvar P = global.get('P');\nvar Q = global.get('Q');\nvar R = global.get('R');\nvar S = global.get('S');\nvar T = global.get('T');\nvar U = global.get('U');\nvar token=msg.payload.access_token\nvar instance_id=\"5155adcb-da50-4d88-b0d1-31cc621113ee\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\npayload_scoring = {\"input_data\": [{\"fields\": [[\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"]], \"values\": [[A,B,C,D,e,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U]]}]}\nmsg.payload= {\"input_data\": [{\"fields\": [[\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"]], \"values\": [[A,B,C,D,e,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":481.64904022216797,"y":461.915678024292,"wires":[["e28afb78.8a9938"]]},{"id":"bcfabfda.ead27","type":"function","z":"1ce4f3fc.835cec","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":806.6893520355225,"y":464.36531829833984,"wires":[["cbe28ed1.3049a","3b49ce3c.b5f212"]],"l":false},{"id":"3b49ce3c.b5f212","type":"ui_text","z":"1ce4f3fc.835cec","group":"51cffeb1.e74f6","order":1,"width":0,"height":0,"name":"","label":"EXPECTED LIFE SPAN","format":"{{msg.payload}} years","layout":"col-center","x":935,"y":380,"wires":[],"l":false},{"id":"51cffeb1.e74f6","type":"ui_group","z":"","name":"ML experiment","tab":"8e298986.771b08","order":2,"disp":true,"width":"6","collapse":true},{"id":"8e298986.771b08","type":"ui_tab","z":"","name":"Life expectancy","icon":"Dashboard","order":4,"disabled":false,"hidden":false}]
