ML nodered integration.json
[{"id":"c8bf8fdb.82586","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"628e7169.0aa9","type":"ui_form","z":"c8bf8fdb.82586","name":"","label":"Enter details to Predict life span expectancy","group":"5ad39d8c.22fd84","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"A","type":"text","required":false,"rows":null},{"label":"Year","value":"B","type":"number","required":false,"rows":null},{"label":"Status","value":"C","type":"text","required":false,"rows":null},{"label":"Adult mortality","value":"D","type":"number","required":false,"rows":null},{"label":"Infant deaths","value":"e","type":"number","required":false,"rows":null},{"label":"Alcohol","value":"F","type":"number","required":false,"rows":null},{"label":"Percentage expenditure","value":"G","type":"number","required":false,"rows":null},{"label":"Hepatitis B","value":"H","type":"number","required":false,"rows":null},{"label":"Measles","value":"I","type":"number","required":false,"rows":null},{"label":"BMI","value":"J","type":"number","required":false,"rows":null},{"label":"under-five deaths","value":"K","type":"number","required":false,"rows":null},{"label":"Polio","value":"L","type":"number","required":false,"rows":null},{"label":"Total expenditure","value":"M","type":"number","required":false,"rows":null},{"label":"Diphtheria","value":"N","type":"number","required":false,"rows":null},{"label":"HIV/AIDS","value":"O","type":"number","required":false,"rows":null},{"label":"GDP","value":"P","type":"number","required":false,"rows":null},{"label":"Population","value":"Q","type":"number","required":false,"rows":null},{"label":"thinness 1-19 years","value":"R","type":"number","required":false,"rows":null},{"label":"thinness 5-9 years","value":"S","type":"number","required":false,"rows":null},{"label":"Income composition of resources","value":"T","type":"number","required":false,"rows":null},{"label":"Schooling","value":"U","type":"number","required":false,"rows":null}],"formValue":{"A":"","B":"","C":"","D":"","e":"","F":"","G":"","H":"","I":"","J":"","K":"","L":"","M":"","N":"","O":"","P":"","Q":"","R":"","S":"","T":"","U":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":65.20581245422363,"y":550.1840515136719,"wires":[["a3634e83.26f9c"]],"l":false},{"id":"847afd3f.1dbc8","type":"inject","z":"c8bf8fdb.82586","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.77011013031006,"y":356.96476554870605,"wires":[["a3634e83.26f9c"]],"l":false},{"id":"9c30d45.df1ae28","type":"debug","z":"c8bf8fdb.82586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":277.36659049987793,"y":589.5923728942871,"wires":[],"l":false},{"id":"a3634e83.26f9c","type":"function","z":"c8bf8fdb.82586","name":"Pretoken","func":"global.set(\"A\",msg.payload.A);\nglobal.set(\"B\",msg.payload.B);\nglobal.set(\"C\",msg.payload.C);\nglobal.set(\"D\",msg.payload.D);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"F\",msg.payload.F);\nglobal.set(\"G\",msg.payload.G);\nglobal.set(\"H\",msg.payload.H);\nglobal.set(\"I\",msg.payload.I);\nglobal.set(\"J\",msg.payload.J);\nglobal.set(\"K\",msg.payload.K);\nglobal.set(\"L\",msg.payload.L);\nglobal.set(\"M\",msg.payload.M);\nglobal.set(\"N\",msg.payload.N);\nglobal.set(\"O\",msg.payload.O);\nglobal.set(\"P\",msg.payload.P);\nglobal.set(\"Q\",msg.payload.Q);\nglobal.set(\"R\",msg.payload.R);\nglobal.set(\"S\",msg.payload.S);\nglobal.set(\"T\",msg.payload.T);\nglobal.set(\"U\",msg.payload.U);\nvar apikey=\"XNkG3qXPTF1ZN6LMidMjaXW6GwL8naR33Su1dRiaueA5\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":181.62714862823486,"y":457.81164169311523,"wires":[["9c30d45.df1ae28","d7b31393.a8e9b"]]},{"id":"92f0918d.e48a2","type":"debug","z":"c8bf8fdb.82586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":488.677734375,"y":253.2630786895752,"wires":[],"l":false},{"id":"d7b31393.a8e9b","type":"http request","z":"c8bf8fdb.82586","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":334.58504486083984,"y":319.51159715652466,"wires":[["92f0918d.e48a2","e74da63f.783778"]]},{"id":"e2b9c98c.152118","type":"debug","z":"c8bf8fdb.82586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":702.3330612182617,"y":606.3300657272339,"wires":[],"l":false},{"id":"7cc570d4.72b2","type":"http request","z":"c8bf8fdb.82586","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b30417e6-520c-4a8a-b332-5af3c8bdf15e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":648.1602630615234,"y":465.2831630706787,"wires":[["e2b9c98c.152118","d9cca97b.bcaf68"]],"l":false},{"id":"12a88f54.493df1","type":"debug","z":"c8bf8fdb.82586","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":911.9239711761475,"y":567.0138473510742,"wires":[],"l":false},{"id":"e74da63f.783778","type":"function","z":"c8bf8fdb.82586","name":"Pre Prediction","func":"var A = global.get('A');\nvar B = global.get('B');\nvar C = global.get('C');\nvar D = global.get('D');\nvar e = global.get('e');\nvar F = global.get('F');\nvar G = global.get('G');\nvar H = global.get('H');\nvar I = global.get('I');\nvar J = global.get('J');\nvar K = global.get('K');\nvar L = global.get('L');\nvar M = global.get('M');\nvar N = global.get('N');\nvar O = global.get('O');\nvar P = global.get('P');\nvar Q = global.get('Q');\nvar R = global.get('R');\nvar S = global.get('S');\nvar T = global.get('T');\nvar U = global.get('U');\nvar token=msg.payload.access_token\nvar instance_id=\"bec8a9d7-e030-43e0-84da-abeb50a8a233\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\npayload_scoring = {\"input_data\": [{\"fields\": [[\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"]], \"values\": [[A,B,C,D,e,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U]]}]}\nmsg.payload= {\"input_data\": [{\"fields\": [[\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"]], \"values\": [[A,B,C,D,e,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":481.64904022216797,"y":461.915678024292,"wires":[["7cc570d4.72b2"]]},{"id":"d9cca97b.bcaf68","type":"function","z":"c8bf8fdb.82586","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":806.6893520355225,"y":464.36531829833984,"wires":[["12a88f54.493df1","bfed055f.e99e58"]],"l":false},{"id":"bfed055f.e99e58","type":"ui_text","z":"c8bf8fdb.82586","group":"5ad39d8c.22fd84","order":1,"width":0,"height":0,"name":"","label":"EXPECTED LIFE SPAN","format":"{{msg.payload}} years","layout":"col-center","x":915.7843027114868,"y":386.97140407562256,"wires":[],"l":false},{"id":"5ad39d8c.22fd84","type":"ui_group","z":"","name":"ML experiment","tab":"c85ece3a.4eb02","order":2,"disp":true,"width":"6","collapse":true},{"id":"c85ece3a.4eb02","type":"ui_tab","z":"","name":"Life expectancy","icon":"Dashboard","order":4,"disabled":false,"hidden":false}]